@media (max-width: 993px) {
    .aside-sidebar {
        display: none;
        transform: translateX(-100%);
    }
}

@media (max-width: 993px) {
    .main-container {
        padding-left: 0;
    }
}

@media (max-width: 993px) {
    .sample-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}